<%- layout('layouts/main.ejs') %>

<div class="container mt-4">
    <div style='border: 1px solid black;padding: 50px; text-align:center'>
        <h3 style="color:orangered ;">302 - No hay carrito para este usuario</h3>
        <a style="text-decoration: none; color:darkblue; font-weight: bolder; " href='/api/productos/Todos'>Volver al catálogo</a>
    </div>
</div>