<%- layout('layouts/main.ejs') %>

<div class="container mt-4">
    <div style='border: 1px solid black;padding: 50px; text-align:center'>
        <h3 style="color:orangered ;">404 - Page not found!</h3>
        <a style="text-decoration: none; color:darkblue; font-weight: bolder; " href='http://localhost:3000/'>Ir a inicio</a>
    </div>
</div>