<%- layout('layouts/main.ejs') %>

<div class="logout_container container">
    <h2 class ="btn-primary titulo_carga txt_logout">Error en el proceso de ingreso</h2>
    <a class="logout btn btn-primary" href="/">Inicio</a>
</div>
