<%- layout('layouts/main.ejs') %>

<div class="container">

  <div class="formulario mt-5">
    
    <form onsubmit="AddProducto(this)"></form>
      <div class="form-group btn-dark titulo_carga">
        <h4 class="btn-dark">Formulario de carga</h2>
      </div>
      <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control" id="titulo" name="title" placeholder="Ingrese nombre del producto">
      </div>
      <div class="form-group">
          <label for="precio">Precio</label>
          <input type="text" class="form-control" id="precio" name="price" placeholder="Ingrese el precio">
      </div>
      <div class="form-group">
          <label for="img">Img</label>
          <input type="text" class="form-control" id="img" name="thumbnail" placeholder="URL Imágen">
      </div>
      <button id="productos" type="submit" class="btn btn-dark">Enviar</button>
    </form>
    
  </div>
  
  <%- include('tabla.ejs'); %>

</div>